html, body{
    background-image: none;
}
.shortlink {
    font-size: smaller;
}
th{
    text-indent: 10px;
}
#footer{
    text-align: center;
    height: 60px;
    clear: both;
}
#searchBar{
    width: 90%;
    left: 5%;
    margin-left: -6px;
    position: relative;
    height: 18px;
    border-radius: 10px;
    padding-left: 10px;
}